<!DOCTYPE html>
<html>
  <head>
    <title>p2pjs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
      body {
        margin: 80px auto;
        max-width: 750px;
        line-height: 1.6;
        font-size: 18px;
        color: #333;
        padding: 0 10px;
        background: #fbfbfb;
      }
      h1, h2, h3 {
        line-height: 1.4;
      }
      input {
        width: 100%;
        font-size: 16px;
        padding: 10px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>p2pjs</h1>
      <h2>A peer-to-peer JavaScript CDN built on top of <a href="https://ipfs.io/">IPFS</a>.</h2>
    </header>
    <section>
      <ul>
        <% libraries.forEach(function(lib) { %>
          <li>
            <%= lib.name %>
            <ul>
              <% lib.versions.forEach(function(ver) { %>
                <li>
                  <a href="/<%= ver.hash %>"><%= ver.version %></a>
                  <input type="url" value="<%= baseUrl %><%= ver.hash %>" onClick="this.select()"></input>
                  <!-- <input type="url" value='<script src="<%= baseUrl %><%= ver.hash %>"></script>' onClick="this.select()"></input> -->
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    </section>
  </body>
</html>
